<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
		<add key="DBCS" value="Data Source=.;Initial Catalog=ubox_livedoor;Integrated Security=SSPI;Connect Timeout=30;Pooling=true"/>
      <add key="DBCS_DICT_CY" value="Data Source=.;Initial Catalog=DICT_CY;Integrated Security=SSPI;Connect Timeout=30;Pooling=true"/>
	</appSettings>
</configuration>